In [ ]:
num = int(input("enter the number:"))
if num>1:
    for i in range(2,num):
        if num%i==0:
            print("this is not a prime number:")
            break
    else:
        print("this is a prime number:")

In [ ]:
lower = int(input("enter the numbers:"))
upper = int(input("enter the numbers:"))
for num in range(lower ,upper+1):
    for i in range(2,num):
        if num%i==0:
            break
    else:
        print(num)

In [ ]:
animals = ["mockey","dog","cat","leopard","jaguar","cheetah","lion"]
list_1 = []
for x in animals:
    if x!="lion":
        list_1.append(x)
print(list_1)

In [ ]:
animals = ["mockey","dog","cat","leopard","jaguar","cheetah","lion"]
animals.append("tiger")

In [ ]:
animals

In [ ]:
def factorial(a):
    if a==0:
        return 1
    else:
        return a*factorial(a-1)

In [ ]:
factorial(3)

In [3]:
numbers = 2
count = 0
while count<=25:
    for i in range(2,numbers):
        if numbers%i==0:
            break
    else:
        print(numbers)
        count+=1
    numbers+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101

In [4]:
lst1 = [1,2,3,4,5,1,2,3,4]
lst2 = [2,3,4,6,7,8,9,9,6]

In [5]:
def unique_terms(lst1,lst2):
    unique_lst = []
    for terms in lst1:
        if terms in lst2:
            unique_lst.append(terms)
    return unique_lst

In [7]:
unique_terms(lst1,lst2)

[2, 3, 4, 2, 3, 4]

In [8]:
def unique_items(lst1,lst2):
    unique_terms = []
    for items in lst1:
        if items in lst2:
            unique_terms.append(items)
    return unique_terms

In [9]:
unique_items(lst1,lst2)

[2, 3, 4, 2, 3, 4]

In [12]:
count = 0
numbers = 1
while count<=25:
    if numbers%2!=0:
        print(numbers)
        count+=1
    numbers+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51

In [15]:
count = 0
numbers = 1
while count<=25:
    if numbers%2==0:
        print(numbers)
        count+=1
    numbers+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52

In [24]:
vowels = ["a","i","o","e","u"]
words = "programming"
count = 0
for letter in words:
    if letter in vowels:
        count+=1
print(count)

3

In [25]:
vowels = ["a","i","o","e","u"]
sentence = "bharat is a great a civilisation"
count = 0
for letter in sentence:
    if letter in vowels:
        count+=1
print(count)

13

In [27]:
sentence = "bharat is a great a civilisation"
character = "a"
count = 0
for letter in sentence:
    if letter==character:
        count+=1
print(count)

6

In [28]:
lst1 = [1,2,3,4,5]
lst2 = [9,8,7,6,5]

In [32]:
def addition(lst1,lst2):
    lst3 = []
    for value in range(0,lst1[0]):
        lst3.append(lst1[0]+lst2[0])
    return lst3

In [33]:
addition(lst1,lst2)

[10]

In [34]:
result = [x+y for x,y in zip(lst1,lst2)]

In [35]:
result

[10, 10, 10, 10, 10]

In [37]:
import pandas as pd

In [38]:
data = pd.DataFrame({"x":range(1,101) , "y":[x**2 for x in range(1,101)]})

In [39]:
data

      x      y
0     1      1
1     2      4
2     3      9
3     4     16
4     5     25
..  ...    ...
95   96   9216
96   97   9409
97   98   9604
98   99   9801
99  100  10000

[100 rows x 2 columns]

In [40]:
data = pd.DataFrame({"x":range(1,101) , "y":[x**0.5 for x in range(1,101)]})

In [41]:
data

      x          y
0     1   1.000000
1     2   1.414214
2     3   1.732051
3     4   2.000000
4     5   2.236068
..  ...        ...
95   96   9.797959
96   97   9.848858
97   98   9.899495
98   99   9.949874
99  100  10.000000

[100 rows x 2 columns]

In [43]:
data = pd.DataFrame({"x":range(1,101) , "y":[x**3 for x in range(1,101)] , "z": [x**0.5 for x in range(1,101)] , "k":[x**0.33 for x in range(1,101)]})

In [44]:
data

      x        y          z         k
0     1        1   1.000000  1.000000
1     2        8   1.414214  1.257013
2     3       27   1.732051  1.436978
3     4       64   2.000000  1.580083
4     5      125   2.236068  1.700827
..  ...      ...        ...       ...
95   96   884736   9.797959  4.509719
96   97   912673   9.848858  4.525168
97   98   941192   9.899495  4.540510
98   99   970299   9.949874  4.555747
99  100  1000000  10.000000  4.570882

[100 rows x 4 columns]